#The file that contains virtual variables that we load
.env

#The virtual environment
.venv/
venv/

#The vscode setting
.vscode/

#The bytecode that is created by python to shorthen the runtime of the app packet when imported
app/__pycache__/

#This will be deleted. Only used to store info about database configuration
database configuration.txt