body{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(62, 44, 35);
}
.menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.menu a{
    text-decoration: none;
    color:rgb(245, 240, 230)
}
.menu a:hover{
    color: rgb(138, 154, 91);
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.main-menu li{
    list-style-type: none;
}
.first_element{
    height: 600px;
    background-image: url('images/coffee_making.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.continut{
    background-color: rgb(245, 240, 230);
}
.title_subtitles{
    padding: 20px;
    color: rgb(62, 44, 35);
    text-align: center;
}
.shop_now_button{
    text-align: center;
}
.shop_now_button a{
    padding: 10px;
    background-color: rgb(138, 154, 91);
    color: rgb(62, 44, 35);
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
hr{
    box-shadow: 0px 0px 3px;
}
.story h1{
    text-align: center;
    padding: 20px;
    color: rgb(62, 44, 35);
}
.part1, .part2, .part3{
    padding: 10px;
    margin: 20px;
    background-color: rgb(138, 154, 91);
    border-radius: 10px;
    color: rgb(62, 44, 35);
}
.cornerstones h1{
    padding: 20px;
    text-align: center;
    color: rgb(62, 44, 35);
}
.garage-roast, .shop, .processing, .reciclable_packaging{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.garage-roast img, .shop img, .processing img, .reciclable_packaging img{
    border: 1px solid rgb(62, 44, 35);
    border-radius: 10px;
    height: 400px;
}
.personnel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.personnel1, .personnel2, .personnel3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.personnel1 img, .personnel2 img, .personnel3 img{
    border: 1px solid rgb(62, 44, 35);
    border-radius: 10px;
    height: 400px;
}
.values{
    height: 200px;
    text-align: center;
    color: rgb(62, 44, 35);
}
.values_list{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}
.values_list li{
    margin: 5px;    
}
footer{
    background-color: rgb(62, 44, 35);
    color: rgb(245, 240, 230);
}
.contact{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.rights{
    padding: 20px;
    text-align: center;
}
