body{
    margin: 0;
    background-color: rgb(245, 240, 230);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: rgb(62, 44, 35);
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdown_hidden{
    display: block;
}
.dropdown_hidden{
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    display: none;
    background-color: rgb(80, 55, 45);
    width: 60px;
}
.menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.menu a{
    text-decoration: none;
    color:rgb(245, 240, 230);
}
.menu a:hover{
    color: rgb(138, 154, 91);
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.main-menu li{
    list-style-type: none;
}

.warning{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 100px;
}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgb(138, 154, 91);
    padding: 15px;
    border-radius: 35px;
    border: 1px solid black;
}
.image_and_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 240, 230);
    border-radius: 15px;
    padding: 2px;
}
.image_dark_coffee{
    height: 100px;
    width: 100px;
    background-image: url(images/organic_dark_coffee.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.image_nespreso_beens{
    height: 100px;
    width: 100px;
    background-image: url(images/nespreso_beens.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.image_brew{
    height: 100px;
    width: 100px;
    background-image: url(images/brew.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.image_capsules{
    height: 100px;
    width: 100px;
    background-image: url(images/capsules.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.quantity form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.quantity form button{
    height: 30px;
    width: 75px;
    border-radius: 20px;
    border: 1px solid black;
}
.delete button{
    height: 30px;
    width: 75px;
    border-radius: 20px;
    border: 1px solid black;
}
.delete button:hover{
    background-color: rgb(218, 52, 52);
}

footer{
    background-color: rgb(62, 44, 35);
    color: rgb(245, 240, 230);
}
.contact{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.rights{
    padding: 20px;
    text-align: center;
}