body{
    margin: 0px;
    height: 100vh;
    background-color: rgb(245, 240, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_new_pass{
    font-size: 17px;
    padding: 25px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: rgb(138, 154, 91);
}
button{
    font-size: 15px;
    padding: 5px;
}