body{
    background-color: rgb(245, 240, 230);
}

.comfirmation_message{
    padding-top: 100px;
    color: rgb(62, 44, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.redirect_link a{
    color: rgb(62, 44, 35);
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
.redirect_link{
    text-align: center;
    background-color: rgb(138, 154, 91);
    width: 100px;
    height: 45px;
    border-radius: 15px;
}