body{
    margin: 0;
    height: 100vh;
    background-color: rgb(245, 240, 230);
}
.content{
    text-align: center;
    margin-top: 200px;
}
h1,a{
    color: rgb(62, 44, 35);
}
a{
    text-decoration: none;
}
.redirect{
    display: inline-block;
    width: 150px;
    background-color: rgb(138, 154, 91);
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
}