body{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(62, 44, 35);
}
.menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.menu a{
    text-decoration: none;
    color:rgb(245, 240, 230)
}
.menu a:hover{
    color: rgb(138, 154, 91);
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.main-menu li{
    list-style-type: none;
}
.introduction{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(245, 240, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}
.text h2{
    padding-left: 100px;
}
.image{
    height: 250px;
}
.online_sales{
    background-color: rgb(138, 154, 91);
}
.subtitle{
    color: rgb(62, 44, 35);
    text-align: center;
    padding: 20px;
    font-size: 40px;
    box-shadow: 0px 7px 20px;
}
.dark_coffee{
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(62, 44, 35);
    box-shadow: 0px 7px 20px;
}
.dark_coffee_img{
    height: 300px;
}
.nespreso_beens{
    background-color: rgb(245, 240, 230);
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(62, 44, 35);
}
.nespreso_beens_img{
    height: 300px;
}
.brew{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}
.brew_img{
    height: 300px;
}
.capsules{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}
.capsules_img{
    height: 300px;
}
.brew_and_capsules{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 7px 20px;
    color: rgb(62, 44, 35);
    flex-wrap: wrap;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}
.organic_coffee, .capucinno, .cold_brew, .ice_late, .speciality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(138, 154, 91);
    border-radius: 5px;
    box-shadow: 0px 7px 20px;
}
.organic_coffee_img, .capucinno_img, .cold_brew_img, .ice_late_img, .speciality_img{
    height: 300px;
}
.speciality{
    width: 300px;
}
footer{
    background-color: rgb(62, 44, 35);
    color: rgb(245, 240, 230);
}
.contact{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.rights{
    padding: 20px;
    text-align: center;
}
