body{
    background-color: rgb(245, 240, 230);
    margin: 0px;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.redirect_google, .redirect_login_with_email, .redirect_register{
    background-color: rgb(138, 154, 91);
    height: 60px;
    width: 200px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(80, 55, 45);
}
a{
    text-decoration: none;
    border-radius: 30px;
}