body{
    box-sizing: border-box;
    background-color: rgb(245, 240, 230);
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
header{
    background-color: rgb(62, 44, 35);
}
.menu{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.menu a{
    text-decoration: none;
    color:rgb(245, 240, 230)
}
.menu a:hover{
    color: rgb(138, 154, 91);
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.main-menu li{
    list-style-type: none;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dark_coffee, .nespreso_beens, .brew, .capsules{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(138, 154, 91);
    margin: 30px;
    border-radius: 10px;
    border: 1px solid rgb(62, 44, 35);
}
.dark_coffee img, .nespreso_beens img, .brew img, .capsules img{
    height: 300px;
}
footer{
    background-color: rgb(62, 44, 35);
    color: rgb(245, 240, 230);
}
.contact{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.rights{
    padding: 20px;
    text-align: center;
}