<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password with email</title>
    <link rel="stylesheet" href="{{url_for('static', filename='change_password_with_email.css')}}">
</head>
<body>

    <main>
        <form action="{{url_for('pass.change_password_with_email',token=token)}}" method="post" class="form_new_pass">
            <div>
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" required placeholder="new password">
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </main>

</body>
</html>