<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='comfirmation_password_change_with_email.css')}}">
    <title>Document</title>
</head>
<body>
    <main>

        <div class="comfirmation_message">
            <div>
                <h1>{{message}}</h1>
            </div>
            <div>
                <h3>Go back to home page.</h3>
            </div>
            <div class="redirect_link">
                <a href="{{url_for('main.home')}}">Home Page</a>
            </div>
        </div>

    </main>
    
</body>
</html>